.about-page h2 {
    padding-top: 5%;
}

.about-page{
    width: 120%;
}

.vertical-timeline p {
    color: black;
}

.vertical-timeline-element p {
    color: black;
}

.vertical-timeline-element h3 {
    color: black;
}

.vertical-timeline-element h4 {
    color: black;
}

.vertical-timeline-element span {
    color: black;
}

.vertical-timeline-element .vertical-timeline-element-date {
    color: white;
    margin-left: 15px;
    margin-right: 15px;
}

@media screen and (width: auto) {
    .vertical-timeline-element .vertical-timeline-element-date {
        color: black;
    }
}